* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    padding: 50px 100px 100px 50px;
}

/* Bomb base */

.bomb {
    position: relative;
    width: 50px;
    height: 50px;
    cursor: pointer;
    overflow: visible;
}

.bomb .bomb__body,
.bomb .bomb__sparkle {
    fill: black;
    transition: all 750ms ease-out;
}
.bomb .bomb__sparkle {
    opacity: 0;
}

.bomb.visible {
    animation: appear 300ms ease-out 0s;
}

/* Bomb states */

.bomb[data-action=do-tick] .bomb__body {
    fill: darkred;
}

.bomb[data-action=do-tick] .bomb__sparkle {
    fill: orange;
    animation: blink 300ms ease-out 0s infinite;
}

.bomb[data-action=do-explode] .bomb__body {
    opacity: .1;
    animation: explode 300ms ease-out 0s;
}

/* Animations */

@keyframes appear {
    from {
        transform: scale(0.5);
        opacity: 0;
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes blink {
    0% { opacity: 1; }
    75% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes explode {
    0% { 
        transform: scale(1);
        fill: darkred;
    }
    33% { 
        transform: scale(1.5);
        fill: red;
    }
    100% {
        transform: scale(1);
    }
}

.bombList {
    list-style: none;
    justify-items: center;
    justify-content: center;
}
.bombList li{
    flex-wrap: wrap;
}